# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Big data files
*.csv
*.npz
*.npy
*.h5
*.pt
*.ckpt

# Large directories
train/
metrics/
dataset/
notebooks/
utils/
images/
RadarGuageNet_data/
trained_models/
new_examples*/

# Temporary files
*.log
*.tmp
*.bak

# Hidden files
.DS_Store
